/* Reset de CSS para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor-1: #3b5998	;
    --cor-2: #8b9dc3;
    --cor-3: #dfe3ee;
    --cor-4: #f7f7f7;
    --cor-5: #f7f7f7;
}
