@media (max-width: 1050px) {
    .cortes {
        grid-template-columns: 1fr 1fr; /* Reduz para 2 colunas */
        row-gap: 40px; /* Opcional: ajuste o espaçamento entre as linhas */
        align-items: center;
    }
}

/* Para telas ainda menores, com largura máxima de 700px */
@media (max-width: 700px) {
    .cortes {
        grid-template-columns: 1fr; /* Reduz para 1 coluna */
        row-gap: 20px; /* Opcional: ajuste o espaçamento entre as linhas */
    }
}
