
.home {
    background-image: url("");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #070606;
    text-align: center;
    padding: 20px 20px;
    filter: drop-shadow(0 0 20px black);

}

.home h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333333;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.home .box-descript {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 30px;
}

.home .box-descript .textside {
    flex: 1;
    background-color: #8b9dc3;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.home .box-descript .text-aside {
    flex: 1;
    background-color: #3b5998;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Botão WhatsApp no final da sessão */
.home .whatsapp {
    margin-top: auto;
    background-color: #25D366;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.home .whatsapp:hover {
    background-color: #128C7E;
}

section {
    padding: 60px 20px;
    background-color: #f4f4f4;
    color: white;
    text-align: center;
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333333;
    position: relative;
}

section h1::after {
    content: '';
    width: 120px;
    border-radius: 2px;
    height: 5px;
    background-color: #333333;
    display: block;
    margin: 20px auto 0;
}
