
.sobre {
    padding: 60px 20px; /* Ajuste o padding conforme necessário */
    background-color: #3b5998; /* Torna o fundo transparente */
    color: black;
    text-align: left;
    margin: 0 auto;
    filter: drop-shadow(0 0 20px black);

}


.sobre .title h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    color: white;
    padding:0 10%;
}

.sobre .title h1::after {
    content: '';
    width: 120px;
    height: 4px;
    background-color: #f2fbfc;
    display: block;
    margin: 20px auto 0;
    border-radius: 2px;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.sobre-text {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.8;
    color: white;
    text-align: justify;
}

.sobre-img img {
    max-width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0 0 30px #edf0f5);
}
